<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lyf.customcontrol">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.lyf.customcontrol.part2.pathtext02.text.typeface.custom.TextTypefaceCustomActivity"></activity>
        <activity android:name="com.lyf.customcontrol.part2.pathtext02.text.typeface.system.TextTypefaceSystemActivity" />
        <activity android:name="com.lyf.customcontrol.part2.pathtext02.text.pos.TextPosActivity" />
        <activity android:name="com.lyf.customcontrol.part2.pathtext02.text.path.TextPathActivity" />
        <activity android:name="com.lyf.customcontrol.part2.pathtext02.text.example03.TextExample03Activity" />
        <activity android:name="com.lyf.customcontrol.part2.pathtext02.text.example02.TextExample02Activity" />
        <activity android:name="com.lyf.customcontrol.part2.pathtext02.text.example01.TextExample01Activity" />
        <activity android:name="com.lyf.customcontrol.part2.pathtext02.path.quad.QuadPathActivity" />
        <activity android:name="com.lyf.customcontrol.part2.pathtext02.path.arc.ArcPathActivity" />
        <activity android:name="com.lyf.customcontrol.part2.pathtext02.path.oval.OvalPathActivity" />
        <activity android:name="com.lyf.customcontrol.part2.pathtext02.path.circle.CirclePathActivity" />
        <activity android:name="com.lyf.customcontrol.part2.pathtext02.path.roundrect.RoundRectPathActivity" />
        <activity android:name="com.lyf.customcontrol.part2.pathtext02.path.rect.RectPathActivity" />
        <activity android:name="com.lyf.customcontrol.part2.pathtext02.path.line.LinePathActivity" />
        <activity android:name="com.lyf.customcontrol.part2.draw01.arc.ArcActivity" />
        <activity android:name="com.lyf.customcontrol.part2.draw01.oval.OvalActivity" />
        <activity android:name="com.lyf.customcontrol.part2.draw01.rect.RectActivity" />
        <activity android:name="com.lyf.customcontrol.part2.draw01.point.PointActivity" />
        <activity android:name="com.lyf.customcontrol.part2.draw01.line.LineActivity" />
        <activity android:name="com.lyf.customcontrol.part2.draw01.circle.CircleActivity" />
        <activity android:name=".main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>