<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lyf.customcontrol">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".part2.pathquadto06.wave.WaveActivity"></activity>
        <activity android:name=".part2.pathquadto06.rquadto.RQuadraticActivity" />
        <activity android:name=".part2.pathquadto06.gesture.quadto.GestureQuadToActivity" />
        <activity android:name=".part2.pathquadto06.gesture.lineto.GestureLineToActivity" />
        <activity android:name=".part2.pathquadto06.quadratic.QuadraticActivity" />
        <activity android:name=".part2.text05.fixedpointwrite.center.MyCenterActivity" />
        <activity android:name=".part2.text05.fixedpointwrite.top.MyTopTextActivity" />
        <activity android:name=".part2.text05.widthheightrect.WidthHeightActivity" />
        <activity android:name=".part2.text05.fontmetrics.FontMetricsActivity" />
        <activity android:name=".part2.text05.fourlineandbase.BlogDrawActivity" />
        <activity android:name=".part2.region04.saverestore.SaveRestoreActivity" />
        <activity android:name=".part2.region04.skew.SkewActivity" />
        <activity android:name=".part2.region04.clip.ClipActivity" />
        <activity android:name=".part2.region04.scale.ScaleActivity" />
        <activity android:name=".part2.region04.rotate.RotateActivity" />
        <activity android:name=".part2.region04.translate.TranslateActivity" />
        <activity android:name=".part2.region03.op.RegionOpActivity" />
        <activity android:name=".part2.region03.setpath.RegionSetPathActivity" />
        <activity android:name=".part2.region03.construct.RegionConstructActivity" />
        <activity android:name=".part2.pathtext02.text.typeface.custom.TextTypefaceCustomActivity" />
        <activity android:name=".part2.pathtext02.text.typeface.system.TextTypefaceSystemActivity" />
        <activity android:name=".part2.pathtext02.text.pos.TextPosActivity" />
        <activity android:name=".part2.pathtext02.text.path.TextPathActivity" />
        <activity android:name=".part2.pathtext02.text.example03.TextExample03Activity" />
        <activity android:name=".part2.pathtext02.text.example02.TextExample02Activity" />
        <activity android:name=".part2.pathtext02.text.example01.TextExample01Activity" />
        <activity android:name=".part2.pathtext02.path.quad.QuadPathActivity" />
        <activity android:name=".part2.pathtext02.path.arc.ArcPathActivity" />
        <activity android:name=".part2.pathtext02.path.oval.OvalPathActivity" />
        <activity android:name=".part2.pathtext02.path.circle.CirclePathActivity" />
        <activity android:name=".part2.pathtext02.path.roundrect.RoundRectPathActivity" />
        <activity android:name=".part2.pathtext02.path.rect.RectPathActivity" />
        <activity android:name=".part2.pathtext02.path.line.LinePathActivity" />
        <activity android:name=".part2.draw01.arc.ArcActivity" />
        <activity android:name=".part2.draw01.oval.OvalActivity" />
        <activity android:name=".part2.draw01.rect.RectActivity" />
        <activity android:name=".part2.draw01.point.PointActivity" />
        <activity android:name=".part2.draw01.line.LineActivity" />
        <activity android:name=".part2.draw01.circle.CircleActivity" />
        <activity android:name=".main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>