<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lyf.customcontrol">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".part3.recyclerreuse08.excellent.ReuseAnimatorExcellentActivity"></activity>
        <activity android:name=".part3.recyclerreuse08.common.ReuseAnimatorCustomActivity" />
        <activity android:name=".part3.recyclerreuse07.reusecustom.ReuseCustomActivity" />
        <activity android:name=".part3.recyclerreuse07.custom.RecyclerViewCustomActivity" />
        <activity android:name=".part3.recyclerreuse07.official.RecyclerViewOfficialActivity" />
        <activity android:name=".part3.layoutmanager06.CustomLayoutManagerActivity" />
        <activity android:name=".part3.itemdecoration05.ondrawover.OnDrawOverActivity" />
        <activity android:name=".part3.itemdecoration05.ondraw.OnDrawActivity" />
        <activity android:name=".part3.itemdecoration05.getitemoffsets.GetItemOffsetsActivity" />
        <activity android:name=".part3.itemdecoration05.divideritemdecoration.ItemDecorationActivity" />
        <activity android:name=".part3.recyclerview04.RecyclerViewBaseActivity" />
        <activity android:name=".part3.waterfalllayout03.WaterFallLayoutActivity" />
        <activity android:name=".part3.flowlayout02.MyFlowLayoutActivity" />
        <activity android:name=".part3.Part3Activity" />
        <activity android:name=".part3.measurelayout01.MyLinLayoutActivity" />
        <activity android:name=".part1.listviewitementeranimator13.ListViewItemEnterAnimatorActivity" />
        <activity android:name=".part1.animatelayoutchanges12.AnimateLayoutChangesActivity" />
        <activity android:name=".part1.layoutanimation11.gridviewanimation.GridViewAnimationCodeActivity" />
        <activity android:name=".part1.layoutanimation11.gridviewanimation.GridViewAnimationXmlActivity" />
        <activity android:name=".part1.layoutanimation11.listviewanimation.ListViewAnimationCodeActivity" />
        <activity android:name=".part1.layoutanimation11.listviewanimation.ListViewAnimationXmlActivity" />
        <activity android:name=".part1.uniteanimatorxml10.AnimatorMenuActivity" />
        <activity android:name=".part1.uniteanimatorxml10.AnimatorSetTranslationXmlActivity" />
        <activity android:name=".part1.uniteanimatorxml10.ObjectAnimatorColorXmlActivity" />
        <activity android:name=".part1.uniteanimatorxml10.ObjectAnimatorTranslationXmlActivity" />
        <activity android:name=".part1.uniteanimatorxml10.ValueAnimatorColorXmlActivity" />
        <activity android:name=".part1.uniteanimatorxml10.ValueAnimatorTranslationXmlActivity" />
        <activity android:name=".part1.uniteanimatorcode09.UnitAnimatorCodeActivity" />
        <activity android:name=".part1.propertyvaluesholderkeyframe08.keyframe.KeyFrameActivity" />
        <activity android:name=".part1.propertyvaluesholderkeyframe08.ofobject.PropertyValuesHolderOfObjectActivity" />
        <activity android:name=".part1.propertyvaluesholderkeyframe08.offloatofint.PropertyValuesHolderActivity" />
        <activity android:name=".part1.objectanimator07.customobjectanimator.PointObjectAnimatorActivity" />
        <activity android:name=".part1.objectanimator07.ObjectAnimatorActivity" />
        <activity android:name=".part1.valueanimator06.customobject.PointObjectActivity" />
        <activity android:name=".part1.valueanimator06.ValueAnimatorOfObjectActivity" />
        <activity android:name=".part1.valueanimator05.ValueAnimatorInterpolatorActivity" />
        <activity android:name=".part1.valueanimator04.ValueAnimatorBasicActivity" />
        <activity android:name=".part1.animation03.AnimationCodeActivity" />
        <activity android:name=".part1.interpolator02.InterpolatorActivity" />
        <activity android:name=".part1.animation01.AnimationActivity" />
        <activity android:name=".part1.Part1Activity" />
        <activity android:name=".shape.ShapeActivity" />
        <activity android:name=".part2.radialgradient20.waterripple.WaterRippleActivity" />
        <activity android:name=".part2.radialgradient20.multiplecolorgradient.MultipleRadialGradientActivity" />
        <activity android:name=".part2.radialgradient20.twocolorgradient.RadialGradientActivity" />
        <activity android:name=".part2.lineargradient19.flashstring.FlashStringActivity" />
        <activity android:name=".part2.lineargradient19.multiplegradient.MultipleLinearGradientActivity" />
        <activity android:name=".part2.lineargradient19.twocolorgradient.LinearGradientActivity" />
        <activity android:name=".part2.bitmapshader18.encapsulation.AvatarActivity" />
        <activity android:name=".part2.bitmapshader18.circleimage.CircleImageActivity" />
        <activity android:name=".part2.bitmapshader18.telescope.TelescopeActivity" />
        <activity android:name=".part2.bitmapshader18.bitmapshader.BitmapShaderActivity" />
        <activity android:name=".part2.bitmapshadow17.encapsulation.ShadowControlActivity" />
        <activity android:name=".part2.bitmapshadow17.bitmapshadow.ExtractAlphaActivity" />
        <activity android:name=".part2.shadowglow16.setmaskfilter.BlurMaskFilterActivity" />
        <activity android:name=".part2.shadowglow16.setshadowlayer.ShadowLayerActivity" />
        <activity android:name=".part2.shadowglow16.layerlist.ShadowGlowActivity" />
        <activity android:name=".part2.qqredpoint15.QqRedPointActivity" />
        <activity android:name=".part2.canvas13.ondraw.BitmapCanvasActivity" />
        <activity android:name=".part2.setxfermode12.dstin.irregularitywave.IrregularityWaveActivity" />
        <activity android:name=".part2.setxfermode12.dstin.heartmap.HeartMapActivity" />
        <activity android:name=".part2.setxfermode12.dstin.circlewave.CircleWaveActivity" />
        <activity android:name=".part2.setxfermode12.dstin.invertedimage.MyInvertedImageActivity" />
        <activity android:name=".part2.setxfermode12.dstin.roundcorner.MyRoundCornerActivity" />
        <activity android:name=".part2.setxfermode11.srcout.scratchcard.ScratchCardActivity" />
        <activity android:name=".part2.setxfermode11.srcout.eraser.EraserActivity" />
        <activity android:name=".part2.setxfermode11.srcin.invertedimage.InvertedImageActivity" />
        <activity android:name=".part2.setxfermode11.srcin.roundcorner.RoundCornerActivity" />
        <activity android:name=".part2.setxfermode11.twitter.TwitterActivity" />
        <activity android:name=".part2.setxfermode10.PorterDuffXfermodeActivity2" />
        <activity android:name=".part2.setxfermode10.PorterDuffXfermodeActivity" />
        <activity android:name=".part2.colorfilter09.porterduff.PorterDuffActivity" />
        <activity android:name=".part2.colorfilter09.lighting.LightingActivity" />
        <activity android:name=".part2.colorfilter09.colormatrix.ColorMatrixActivity" />
        <activity android:name=".part2.colormatrix08.officialfunction.rotate.RotateActivity" />
        <activity android:name=".part2.colormatrix08.officialfunction.scale.ScaleActivity" />
        <activity android:name=".part2.colormatrix08.officialfunction.saturation.SaturationActivity" />
        <activity android:name=".part2.colormatrix08.projection.old.OldActivity" />
        <activity android:name=".part2.colormatrix08.projection.inverse.InverseActivity" />
        <activity android:name=".part2.colormatrix08.projection.blackwhite.BlackWhiteActivity" />
        <activity android:name=".part2.colormatrix08.rotate.blue.RotateBlueActivity" />
        <activity android:name=".part2.colormatrix08.rotate.green.RotateGreenActivity" />
        <activity android:name=".part2.colormatrix08.rotate.red.RotateRedActivity" />
        <activity android:name=".part2.colormatrix08.scale.ScaleChannelActivity" />
        <activity android:name=".part2.colormatrix08.reverse.ReverseChannelActivity" />
        <activity android:name=".part2.colormatrix08.translate.TranslateChannelActivity" />
        <activity android:name=".part2.colormatrix08.multichannel.MultiChannelActivity" />
        <activity android:name=".part2.colormatrix08.singlechannel.SingleChannelActivity" />
        <activity android:name=".part2.paint07.patheffect.composesumpath.ComposeSumPathActivity" />
        <activity android:name=".part2.paint07.patheffect.discretepath.DiscretePathActivity" />
        <activity android:name=".part2.paint07.patheffect.pathdashpath.PathDashPathActivity" />
        <activity android:name=".part2.paint07.patheffect.dashpath.DashPathActivity" />
        <activity android:name=".part2.paint07.patheffect.cornerpath.CornerPathActivity" />
        <activity android:name=".part2.paint07.strokejoin.StrokeJoinActivity" />
        <activity android:name=".part2.paint07.strokecap.StrokeCapActivity" />
        <activity android:name=".part2.pathquadto06.wave.WaveActivity" />
        <activity android:name=".part2.pathquadto06.rquadto.RQuadraticActivity" />
        <activity android:name=".part2.pathquadto06.gesture.quadto.GestureQuadToActivity" />
        <activity android:name=".part2.pathquadto06.gesture.lineto.GestureLineToActivity" />
        <activity android:name=".part2.pathquadto06.quadratic.QuadraticActivity" />
        <activity android:name=".part2.text05.fixedpointwrite.center.MyCenterActivity" />
        <activity android:name=".part2.text05.fixedpointwrite.top.MyTopTextActivity" />
        <activity android:name=".part2.text05.widthheightrect.WidthHeightActivity" />
        <activity android:name=".part2.text05.fontmetrics.FontMetricsActivity" />
        <activity android:name=".part2.text05.fourlineandbase.BlogDrawActivity" />
        <activity android:name=".part2.region04.saverestore.SaveRestoreActivity" />
        <activity android:name=".part2.region04.skew.SkewActivity" />
        <activity android:name=".part2.region04.clip.ClipActivity" />
        <activity android:name=".part2.region04.scale.ScaleActivity" />
        <activity android:name=".part2.region04.rotate.RotateActivity" />
        <activity android:name=".part2.region04.translate.TranslateActivity" />
        <activity android:name=".part2.region03.op.RegionOpActivity" />
        <activity android:name=".part2.region03.setpath.RegionSetPathActivity" />
        <activity android:name=".part2.region03.construct.RegionConstructActivity" />
        <activity android:name=".part2.pathtext02.text.typeface.custom.TextTypefaceCustomActivity" />
        <activity android:name=".part2.pathtext02.text.typeface.system.TextTypefaceSystemActivity" />
        <activity android:name=".part2.pathtext02.text.pos.TextPosActivity" />
        <activity android:name=".part2.pathtext02.text.path.TextPathActivity" />
        <activity android:name=".part2.pathtext02.text.example03.TextExample03Activity" />
        <activity android:name=".part2.pathtext02.text.example02.TextExample02Activity" />
        <activity android:name=".part2.pathtext02.text.example01.TextExample01Activity" />
        <activity android:name=".part2.pathtext02.path.quad.QuadPathActivity" />
        <activity android:name=".part2.pathtext02.path.arc.ArcPathActivity" />
        <activity android:name=".part2.pathtext02.path.oval.OvalPathActivity" />
        <activity android:name=".part2.pathtext02.path.circle.CirclePathActivity" />
        <activity android:name=".part2.pathtext02.path.roundrect.RoundRectPathActivity" />
        <activity android:name=".part2.pathtext02.path.rect.RectPathActivity" />
        <activity android:name=".part2.pathtext02.path.line.LinePathActivity" />
        <activity android:name=".part2.draw01.arc.ArcActivity" />
        <activity android:name=".part2.draw01.oval.OvalActivity" />
        <activity android:name=".part2.draw01.rect.RectActivity" />
        <activity android:name=".part2.draw01.point.PointActivity" />
        <activity android:name=".part2.draw01.line.LineActivity" />
        <activity android:name=".part2.draw01.circle.CircleActivity" />
        <activity android:name=".part2.Part2Activity" />
        <activity android:name=".main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>